// Dependency:
//   - ./1-setting/setting.base

$padding-size-length: 15;

@for $i from 1 through $padding-size-length {
  $size: $i * 4;

  .#{$global-utility-name}padding {
    &--#{$size} {
      padding: #{$size}px !important;
    }

    &-t--#{$size} {
      padding-top: #{$size}px !important;
    }

    &-r--#{$size} {
      padding-right: #{$size}px !important;
    }

    &-b--#{$size} {
      padding-bottom: #{$size}px !important;
    }

    &-l--#{$size} {
      padding-left: #{$size}px !important;
    }

    &-h--#{$size} {
      padding-left: #{$size}px !important;
      padding-right: #{$size}px !important;
    }

    &-v--#{$size} {
      padding-top: #{$size}px !important;
      padding-bottom: #{$size}px !important;
    }
  }
}
