$color-white: #fff;
$color-white-darker: #f7f7f7;
$color-black: #000;
$color-black-lighter: #262626;
$color-gray: #808080;
$color-gray-lighter: #a6a6a6;
$color-gray-darker: #676767;

$color-pearl: #eae0c8;
$color-pearl-lighter: #f8f5ed;
$color-pearl-darker: #e3d6b6;
